.about-me {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position:relative;
  background-color:#f3f3f3;
  color: #333333;
}

.mememe {
  width: 50%;
  margin:auto;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #5bc0de;
}
